:root {
    --primary-color: #2C5F6D;
    --secondary-color: #D4AF37;
    --bg-light: #FFFFFF;
    --bg-soft: #FBFBFB;
    --text-dark: #333333;
    --text-light: #FFFFFF;
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--bg-soft); */
    background-color: #333333;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    max-width: 100%;
}



/* BODY */
body {
 background-color: #333333;
}



#btn{
    background: var(--text-dark);
    color: white;
    border: none;
    transition: 0.3s;
}

#btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 5px #00f7ff,
                0 0 10px #7c3aed;
}
/* BUTTON LOGIN */
/* .btn-login {
    background: linear-gradient(45deg, #ff0066, #ff4da6);
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
} */

/* FLOAT BUTTONS */
.float-btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(20, 18, 18);
    text-decoration: none;
    margin: 10px;
}
#cards{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: white;
    z-index: 1;
}

#cards::before{
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;

    background: conic-gradient(
        #00f7ff,
        #7c3aed,
        #ec4899,
        #00f7ff
    );

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: rotateBorder 4s linear infinite;
}

#cards::after{
    content: "";
    position: absolute;
    inset: 4px;
    background: white;
    border-radius: 16px;
    z-index: 1;
}

#cards > *{
    position: relative;
    z-index: 2;
}

@keyframes rotateBorder{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
 

/* .btn-signup {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
}

.btn-forgot {
    background: linear-gradient(45deg, #8e2de2, #ff00cc);
} */

/* RESPONSIVE */
@media(max-width:768px){
    .side-btns{
        display:flex;
        justify-content:center;
    }
}